<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is my first deploy to heroku using webstorm,heroku toolbelt and git</h1>
    <h2>hey</h2>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
