<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome,Saikrishna</h1>
    <h2>This is my first deploy to heroku using webstorm,heroku toolbelt and git</h2>
    <img src="images/fall-colors.jpg" alt="Image"/>
  </body>
</html>
